*, *::before, * ::after {
    box-sizing: border-box;
}

.ph-ed-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "image sidebar"
        "slider sidebar";
    height: 90%;
    width: 100%;

}

div.main-image{
    grid-area:image;
    padding: none;
}

img {
     object-fit:cover;
     max-width: 500px;
     max-height: 300px;
     margin:0 auto;
     margin-top: 20px;

}

.ph-ed-sidebar {
    grid-area: sidebar;
    background-color: white;
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ph-ed-sidebar button {
    cursor: pointer;
    width: 100%;
    max-width:135px;
    transition: 0.4s;
   }


.ph-ed-sidebar button:hover {
 background-color: grey;
 color:white;
 font-weight: 600;
}

button.active {
    background-color:grey;
    color:white;
    font-weight: 600;
   }  
 

.slider-container{
    grid-area: slider;
    margin-top: 2rem;
    padding:2rem;
}

input { 
    width:100% !important;
    cursor: pointer;
    margin:none;
    line-height: none;
    font-size: none;
}

 

button.save-btn{
    display:flex;
    align-items: center;
    align-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    background-color: blue;
    color:white;
   }